*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    height : 100vh;
}
.wrap{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    height:100vh;
}
canvas{
    border:3px solid red;
    background:linear-gradient(
        rgba(165, 142, 42, 0.4),
        rgba(165, 142, 42, 0.4)),
        url("https://image.freepik.com/free-vector/vector-abstract-geometric-shape-from-triangles_2065-276.jpg");
}
.game-info{
    display:flex;
    justify-content: space-between;
    width:500px;
    margin:0 auto 1rem;
}