*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    height : 100vh;
}
.wrap{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
    height:100vh;
}
canvas{
    border:3px solid red;
    background:lightgrey;
}
.game-info{
    display:flex;
    justify-content: space-between;
    width:500px;
    margin:0 auto 1rem;
}